%h1=title "Submit Proposal"
- form_for @proposal do |f| 
  = f.error_messages
  %h2 Title and Description
  %p
    = f.label :title
    = f.text_field :title
  %p{:style=>'margin-left:185px;'}
    You can format your proposal using Textile. For example:
  %ul{:style=>'margin-left:215px;'}
    %li
      %em _italic_
    %li
      %strong *bold*
    %li * Lists
    %li # Numeric Lists
    %li bq. Quotation
    %li "Link":http://some-link.com
  %p{:style=>'margin-left:185px;'}
    More information on how to use Textile can be found
    =link_to 'here', 'http://www.textism.com/tools/textile/index.php'
  %p
    = f.label :body
    = f.text_area :body, :style=>'height:500px;width:680px;'
  %h2 Preview
  #review{:class=>'proposal_body'}
  %h2 Category and Tags
  %p
    = f.label :tag_list, 'Tags'
    = f.hidden_field :tag_list
    %ul{:id => 'tag_list'}
  %p
    = f.submit 'Submit'
:javascript
  preview_running = false;
  $(document).ready(function () {
    $("#tag_list").tagHandler();
    $("#new_proposal").submit(function () {
      var tagNames = new Array();
      $("#tag_list li.tagItem").each(function () {
        tagNames.push($(this).html());
      });
      $("#proposal_tag_list").val(tagNames);
    });
    
    $("#proposal_body").observe_field(0.25, function( ) {
      if(preview_running)
        return;
      $.post('preview', {data : this.value}, function(data) {
        $('#review').html(data);
        preview_running = false;
      });
    });
  });
  