%h1=title "Submit Proposal"
#review{:style => 'padding-left: 20px;'}
- form_for @proposal do |f| 
  = f.error_messages
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :body
    = f.text_area :body
  %p
    = f.label :tag_list, 'Tags'
    = f.hidden_field :tag_list
    %ul{:id => 'tag_list'}
  %p
    = f.submit 'Submit'
:javascript
  preview_running = false;
  $(document).ready(function () {
    $("#tag_list").tagHandler();
    $("#new_proposal").submit(function () {
      var tagNames = new Array();
      $("#tag_list li.tagItem").each(function () {
        tagNames.push($(this).html());
      });
      $("#proposal_tag_list").val(tagNames);
    });
    
    $("#proposal_body").observe_field(0.25, function( ) {
      if(preview_running)
        return;
      $.post('preview', {data : this.value}, function(data) {
        $('#review').html(data);
        preview_running = false;
      });
    });
  });
  