-title @proposal.title
= render :partial => 'proposal_large', :locals => {:proposal => @proposal}
.proposal_body= RedCloth.new(@proposal.body).to_html
.vote_buttons
  - if @user_votes and @user_votes.length > 0
    - if @user_votes.first.value == 1
      - if @user_votes.length != current_user.validated_accounts.length
        .vote_button_for
          = link_to 'Vote FOR this proposal with your other account(s)', vote_proposal_path(@proposal, :score=>1)
      .vote_button_remove
        = link_to 'Remove your vote FOR this proposal', vote_proposal_path(@proposal, :score=>0)
    - else
      .vote_button_for
        = link_to 'Vote FOR this proposal', vote_proposal_path(@proposal, :score=>1)
    - if @user_votes.first.value == -1
      - if @user_votes.length != current_user.validated_accounts.length
        .vote_button_for
          = link_to 'Vote FOR this proposal with your other account(s)', vote_proposal_path(@proposal, :score=>1)
      .vote_button_remove
        = link_to 'Remove your vote AGAINST this proposal', vote_proposal_path(@proposal, :score=>0)
    - else
      .vote_button
        = link_to 'Vote AGAINST this proposal', vote_proposal_path(@proposal, :score=>-1)
  - else
    .vote_button_for
      = link_to 'Vote FOR this proposal', vote_proposal_path(@proposal, :score=>1)
    .vote_button
      = link_to 'Vote AGAINST this proposal', vote_proposal_path(@proposal, :score=>-1)
%h2{:style=>'clear:both;'} Proposal Progress
%table
  %tr
    %th{:style=>'width:130px'} Changed At
    %th Change Owner
    %th Old State
    %th New State
    %th Description
  - @proposal.state_changes.each do |sc| 
    %tr
      %td=sc.created_at
      %td=character(sc.character)       
      %td= sc.from_state ? h(sc.from_state.name) : 'N/A'
      %td=h sc.to_state.name
      %td=h sc.to_state.description
%h2 Voters
- if @proposal.voters and @proposal.voters.length > 0
  %ul{:class=>'voters'}
    - @proposal.voters.each do |uc| 
      %li=character(uc[0].character)+" (#{uc[1]})"
  .footer{:style=>'clear:both;'}
- else
  %p
    Nobody has voted on this proposal yet!