!!! Strict
%html{html_attrs('en-GB')}
  %head
    -if @title 
      %title= "#{RAILS_ENV=='production' ? '' : 'DEV | '}#{@title} | Nebula - CSM Proposal Tracker"
    -else
      %title= "#{RAILS_ENV=='production' ? '' : 'DEV | '}Nebula - CSM Proposal Tracker"
    %meta{:content => "Nebula is proposal tracker for EVE Online's Council of Stellar Management, allowing players to voice their opinion, vote on proposals and view feedback", :name => 'description'}
    %meta{:content => 'eve, online, eve online, csm, council, stellar, management, issue, tracker, nebula', :name => 'keywords'}
    %meta{:name => 'author', :content => 'Team Excellence'}
    %meta{'http-equiv'=>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}
    %meta{:name=>'viewport', :content=>'width=device-width; initial-scale=1.0; maximum-scale=1.0;'}
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'jquery-ui-1.8.2.custom.min.js'
    = stylesheet_link_tag 'fonts', 'application', 'jquery-ui-1.8.2.custom.css'
    //%link{:rel=>"search",:type=>"application/opensearchdescription+xml",:title=>"Nebula Search",:href=>"/search.xml"}/
  %body
    #container
      #header
        #links
          - if user_signed_in?
            .link_item= "Logged in as #{current_user.name}"
            .link_item= link_to 'Manage EVE Accounts', '/accounts'
            .link_item= link_to 'Account Settings', '/users/edit'
            .link_item= link_to 'Logout', '/users/sign_out'
          - else
            .link_item= link_to 'Login', '/users/sign_in'
            .link_item= link_to 'Sign up', '/users/sign_up'
        %a{:href => '/', :class=>'header_link'}
          Nebula
      #nav
        #search
          - form_tag '/proposals/search', :id=>'search_form' do
            #search_field= text_field_tag :q, (params[:q] or 'Search for a proposal')
        .nav_item=link_to 'Top Proposals', {:controller => 'proposals', :action => 'index'}, :class=>'nav_item'
        .nav_item=link_to 'New Proposals', {:controller => 'proposals', :action => 'index'}, :class=>'nav_item'
      #content
        -if flash[:error]
          #error
            #error_text=flash[:error]
        -if flash[:info]
          #info
            #info_text=flash[:info]
        =@content_for_layout

    #footer_outer
      #footer
        #left-side
          nebula &#149; eve online is copyright &copy; 2010 ccp games hf
        #right-side
          produced by
          = link_to 'team excellence', 'http://github.com/excellence'
          &#149;
          = link_to 'source code', 'http://github.com/excellence/nebula'
          &#149;
          all times in utc (eve time)
    :javascript
      $("#q").focus(function() {
        if( this.value == this.defaultValue ) {
          this.value = "";
        }
      }).blur(function() {
        if( !this.value.length ) {
          this.value = this.defaultValue;
        }
      });