%h1=title 'EVE Account Management'
%p
  Your Nebula account is tied to your EVE Online accounts via EVE Online API keys. This section of the website lets you manage those keys, and define which character on each account you want to use as your publicly displayed 'primary' character for that account. You can add as many EVE Online accounts as you own; you are given multiple votes if you have multiple accounts.
%h2 Your EVE Accounts
- if current_user.accounts and current_user.accounts.length > 0
  %p
    To add an additional EVE Online account,
    = link_to 'click here', new_account_path
  %table
    %tr
      %th Account ID
      %th Primary Character
      %th Account API Key
      %th Status
      %th Options
    - current_user.accounts.each do |account| 
      %tr
        %td= account.api_uid
        %td= account.character ? account.character.name : "Awaiting validation"
        %td= account.api_key[0..10]+"..."
        %td= account.validated ? "Validated" : "Requires Attention"
        %td
          = link_to 'Details', account_path(account)
          |
          = link_to 'Update API Key', edit_account_path(account)
          |
          = link_to 'Remove Account', account_path(account), :method => :delete, :confirm => "Are you really sure? All your votes from this account will be deleted!"
- else
  %p
    You do not have any EVE Online accounts added yet.
  %p
    To add a new EVE Online account,
    = link_to 'click here', new_account_path
%h2 Primary Character
%p
  You can select your primary character from your list of validated characters in your
  = link_to 'account settings', '/users/edit'