%h1=title "Account Details for account #{@account.api_uid}"
%table{:style=>'width:650px;'}
  %tr{:class=>'toprow'}
    %th API User ID
    %td= @account.api_uid
  %tr
    %th API Key
    %td
      = @account.api_key[0..10]+"..."
      %em (Note that your complete API key is never displayed for security reasons)
%h2 Account Status
- if @account.validated?
  .account_validated
    %h3 This account is validated and eligible to vote!
    %p
      This account has been manually or automatically validated, and is eligible to vote on all proposals submitted via Nebula, and grants you permission to raise your own proposals, propose amendments to existing proposals, and so on.
    %p
      Your account will be re-checked regularly to ensure that you remain eligible to vote and that your account is still active.
      It was last checked for validity on
      = @account.last_validated_at
- elsif @account.characters.length > 0
  .account_needs_validation
    %h3 This account has not been validated
    %p
      This account has not been automatically validated, and must be manually validated to gain eligibility to vote on issues or permit you access to raise proposals, propose amendments to existing proposals, and so on.
    %p
      You can manually validate this account by making an ISK transfer in-game from the wallet of a character on this account to the ingame character Nebula Agent. The amount should be 0.01 ISK. This transaction allows us to check that you are the account holder, and that you hold a full EVE Online account (as opposed to a trial account).
    %p
      More information, including a complete guide to manual validation with pictures, can be found
      = link_to 'here', '/pages/manual_validation'
    %p
      Once you have made the ISK transaction, your account may take up to an hour to be validated.
- else
  .account_needs_validation
    %h3 This account is awaiting an automatic validation attempt
    %p
      Nebula has not yet attempted to validate this account automatically.
%table
  %tr
    %th Status
    %th Validity
    %th Changed At
    %th Details
  - @account.account_state_changes.each do |asc| 
    %tr
      %td=asc.account_state.name
      %td=asc.account_state.validated ? 'Validated' : 'Invalidated'
      %td=asc.created_at.to_s
      %td=asc.account_state.description
      
  
%h2 Characters and Affiliations
%table{:style=>'width:650px;'}
  %tr
    %th{:colspan=>2} Name
    %th{:colspan=>2} Corporation
    %th{:colspan=>2} Alliance
    %th Skill Points
  - @account.characters.each do |char| 
    %tr
      %td{:style=>'width:18px;'}=image_tag char.portrait(16)
      %td=h char.name
      %td{:style=>'width:18px;'}=image_tag char.corporation.logo(16)
      %td=h char.corporation.name
      %td{:style=>'width:18px;'}=char.alliance ? image_tag(char.alliance.logo(16)) : image_tag('/images/logo_not_found_16.png')
      %td=char.alliance ? h(char.alliance.name) : 'No Alliance'
      %td=number_with_delimiter(char.skill_points)
